*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --altura_header: 5rem;
    --color_primario:#051a33;
    --color_secundario:#0b366b;

    --padding_left_right:1.5rem;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
html{
    min-height: 100vh;
}
body{
    height: 100%;
    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
}
/* GRID RESPONSIVE MAQUETADO */
.grid-container{
    display: grid;
    grid-template: 
    "header" 80px
    "aside" 60px
    "main" auto
    "aside_2" 60px
    "footer" 80px;
}
@media (min-width:1000px) {
    .grid-container{
        grid-template: 
        "header header header" 80px
        "aside  main   aside_2" auto
        "footer footer footer" 80px /
          200px auto   200px ;
    }
}
.header{
    background-color: var(--color_primario);
    grid-area: header;
}
.aside{
    background-color: orange;
    grid-area: aside;
}
.aside_2{
    background-color: green;
    grid-area: aside_2;
}
.main{
    background-color: violet;
    min-height: 100vh;
    grid-area: main;
}   
.footer{
    background-color: chocolate;
    grid-area: footer;
}
.icons{
    width: 2.5rem;
    color: white;
}
.close__icon{
    display: none;
}
.logo{
    font-size: 1.5rem;
    color: white;
    padding-left: var(--padding_left_right);
}
.container__icons{
    padding-right: var(--padding_left_right);
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
}
.ul__links{
    width: 100%;
    /* height: calc(100vh - var(--altura_header)); */
    height: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: var(--altura_header);

    font-size: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.25rem;

    background-color: var(--color_secundario);

    transition: all .3s ease-in;
}
.ul__links--show{
    height: calc(100vh - var(--altura_header));
}
.icon--hidden{
    display: none;
}
.icon--show{
    display: block;
}
.link{
    color: white;
    background-color: var(--color_primario);
    padding: .4rem .3125rem;
}

@media screen and (min-width:1000px){
    .nav{
        max-width: 75rem;
        margin: 0 auto;
    }
    .container__icons{
        display: none;
    }
    .ul__links{
        position: static;
        height: auto;
        flex-direction: row;
        width: auto;
        background-color: transparent;
        font-size: 1.3rem;
        gap: 1.5rem;
        padding-right: var(--padding_left_right);
        overflow: visible;
        pointer-events: auto;
    }   
    .li__links{
        padding: .3rem .7rem;
    }
    .link{
        background-color: var(--color_secundario);
    }
}